@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 100 900;
  src: url('raleway-variable.ttf') format('truetype supports variations'),
  url('raleway-variable.ttf') format('truetype-variations');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 100 900;
  font-style: italic;
  src: url('raleway-variable-italic.ttf') format('truetype supports variations'),
  url('raleway-variable-italic.ttf') format('truetype-variations');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 100;
  src: url('static/raleway-100-thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 100;
  font-style: italic;
  src: url('static/raleway-100-thin-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 200;
  src: url('static/raleway-200-extra-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 200;
  font-style: italic;
  src: url('static/raleway-200-extra-light-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 300;
  src: url('static/raleway-300-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 300;
  font-style: italic;
  src: url('static/raleway-300-light-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 400;
  src: url('static/raleway-400-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url('static/raleway-400-regular-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 500;
  src: url('static/raleway-500-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 500;
  font-style: italic;
  src: url('static/raleway-500-medium-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 600;
  src: url('static/raleway-600-semi-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  src: url('static/raleway-600-semi-bold-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 700;
  src: url('static/raleway-700-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url('static/raleway-700-bold-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 800;
  src: url('static/raleway-800-extra-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 800;
  font-style: italic;
  src: url('static/raleway-800-extra-bold-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 900;
  src: url('static/raleway-900-black.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 900;
  font-style: italic;
  src: url('static/raleway-900-black-italic.ttf') format('truetype');
}
