@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100 700;
  font-stretch: 100% 125%;
  src: url('m-plus-code-latin-variable.ttf') format('truetype supports variations'),
  url('m-plus-code-latin-variable.ttf') format('truetype-variations');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  src: url('static/m-plus-code-latin-100-thin.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  font-stretch: 112.5%;
  src: url('static/m-plus-code-latin-100-thin-semi-expanded.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  font-stretch: 125%;
  src: url('static/m-plus-code-latin-100-thin-expanded.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  src: url('static/m-plus-code-latin-200-extra-light.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  font-stretch: 112.5%;
  src: url('static/m-plus-code-latin-200-extra-light-semi-expanded.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  font-stretch: 125%;
  src: url('static/m-plus-code-latin-200-extra-light-expanded.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  src: url('static/m-plus-code-latin-300-light.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  font-stretch: 112.5%;
  src: url('static/m-plus-code-latin-300-light-semi-expanded.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  font-stretch: 125%;
  src: url('static/m-plus-code-latin-300-light-expanded.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  src: url('static/m-plus-code-latin-400-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  font-stretch: 112.5%;
  src: url('static/m-plus-code-latin-400-regular-semi-expanded.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  font-stretch: 125%;
  src: url('static/m-plus-code-latin-400-regular-expanded.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  src: url('static/m-plus-code-latin-500-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  font-stretch: 112.5%;
  src: url('static/m-plus-code-latin-500-medium-semi-expanded.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  font-stretch: 125%;
  src: url('static/m-plus-code-latin-500-medium-expanded.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  src: url('static/m-plus-code-latin-600-semi-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  font-stretch: 112.5%;
  src: url('static/m-plus-code-latin-600-semi-bold-semi-expanded.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  font-stretch: 125%;
  src: url('static/m-plus-code-latin-600-semi-bold-expanded.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  src: url('static/m-plus-code-latin-700-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  font-stretch: 112.5%;
  src: url('static/m-plus-code-latin-700-bold-semi-expanded.ttf') format('truetype');
}

@font-face {
  font-family: 'M+ Code Latin';
  font-display: swap;
  font-weight: 100;
  font-stretch: 125%;
  src: url('static/m-plus-code-latin-700-bold-expanded.ttf') format('truetype');
}
